* {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: #e2e8f0;
    padding: 0;
    display: flex;
    flex-direction: row;
    margin: 0;
    height: auto;
}

/* --------dashboard-------- */

.dashboard {
    background-color: #0891b2;
    width: 17%;
    padding: 15px;
    height: auto;
}

.dashboard > * {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #fff;
    font-weight: bold;
}

.material-symbols-outlined {
    color: #fff;
    padding-right: 10px;
}

/* --------content-------- */


.content {
    width: 83%;
}

/* --------search row-------- */

.search_row > * {
    padding: 0;
}

.content header {
    background-color: #fff;
    padding:  5px 30px 15px 30px; 
    margin-bottom: 15px;
}

.search_row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}

.search_left {
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon {
    color: black;
}

.search_right {
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: clip;
}

.search_right img {
    width: 100px;
}

input {
    padding: 0;
}

#search_bar {
    width: 450px;
    height: 25px;
    background-color: #E2E8F0;
    border: 0;
    border-radius: 20px;

}

.search_row p {
    padding: 0;
    height: 20px;
}

/* --------personal account-------- */

.personal_account {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.img_container {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: clip;
}

.personal_account .name {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.name img {
    width: 100px;
    margin-right: 20px;
}

.personal_account .information {
    display: flex;
    flex-direction: column;
}

.information > * {
    padding: 0;
    margin: 0;
}

button {
    padding: 6px 30px ;
    border-radius: 15px;
    margin-right: 20px;
    border: 0;
    background-color: #0891b2;
    color: #fff;
    font-weight: bold;
}

.document .upload {
    padding: 6px 22px;
}

/* --------publications-------- */

main {
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.publications {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.publication_title, .information_title {
    margin: 0;
    margin-bottom: 10px;
}

.projects {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.project {
    border-left: 5px solid #F0B429;
    border-radius: 7px;
    background-color: #fff;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project_explanation .title {
    font-size: large;
    font-weight: bold;
}

a {
    text-decoration: none;
    padding: 6px 20px ;
    border-radius: 15px;
    margin-right: 20px;
    border: 0;
    background-color: #0891b2;
    color: #fff;
    font-weight: bold;
    background-color: #0891b2;
    text-align: center;
}

/* --------information-------- */

main .information {
    width: 30%;
    margin-left: 20px;
}

.information .announcements {
    background-color: #fff;
    padding: 15px;
    margin: 0;
    border-right: 5px solid #0891b2;
    border-radius: 7px;
}

.maintance, .community {
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

.maintance , .community, .policy {
    height: 33%;
}

.community, .policy {
    padding-top: 10px;
}

.trending_title {
    padding-top: 35px;
}

.trending {
    margin-top: 10px;
    background-color: #fff;
    padding: 15px;
    border-right: 5px solid #0891b2;
    border-radius: 7px;
}


.img_container {
    width: 50px;
    height: 50px;
    margin-right: 15px;
    border-radius: 50%;
    overflow: clip;
}

.img_container img {
    width: 100px;
}

.trending .accounts {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.accounts .account_explanation {
    display: flex;
    flex-direction: column;
    gap: 2px;
}